.name, .tagline, .links a {
	font-family: 'Open Sans Light', 'Open Sans', sans-serif;
}

html, body {
	margin: 0; padding: 0;
	height: 100%;
}

body {
	font-family: Lato, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Lato, Arial, sans-serif;
	font-weight: normal; color: #666;
}

.nameBox {
	font-weight: 700;	
	padding-right: 20px;	
}

.jobTitleBox {
	font-weight: 300;
	font-style: italic;
	
	padding-left: 20px;
}

#floater {
	position: relative; float: left;
	height: 40%;
	margin-bottom: -200px;
	width: 1px;
}

#centered {
	position: relative; 
	clear: left;
	height: 400px; width: 80%; max-width: 1000px; min-width: 400px;
	margin: 0 auto;
	background: #fff;
}

#namebox {
	
	left: 0; right: 0; top: 0; bottom: 0;
	text-align: center;
	padding: 20px 20px 10px 20px;
	font-size: 20pt;
	border-bottom: 1px solid #ddd;
}

#linkbox {	
	left: 0; right: 0; top: 0; bottom: 0;
	text-align: center;	
}

#linkbox table {
	padding: 10px 10px 10px 36px;
	width: 100%;
}

#linklist td {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	height: 100%;
}

#linklist td a {
	padding: 7px;
	margin: 0;
	text-decoration: none;
	color: #000;
	text-align: center;
	font-size: 16pt;
	font-weight: 300;
	vertical-align: middle;

	padding-left: 40px;	
	cursor: pointer;

}

#submenu-music table {
	padding: 0px 0px 0px 5px;
}

#submenu-music table tr td {
	padding: 5px;
}

#submenu-music table tr td a {
	font-size: 12pt;
	font-weight: 300;
	text-align: left;
	padding: 0px;
}

#submenu-music table tr td a:hover, #submenu-music table tr td a:focus {
	color: blue;
}



#linklist td a:hover, #linklist td a:focus {
	color: blue;
}

#resumeLink {
	background: transparent url(/img/resume_32.png) no-repeat left center;
}

#emailLink {
	background: transparent url(/img/email_32.png) no-repeat left center;
}

#facebookLink {
	background: transparent url(/img/facebook_32.png) no-repeat left center;	
}

#steamLink {
	background: transparent url(/img/steam_32.png) no-repeat left center;	
}

#musicLink {
	background: transparent url(/img/music_32.png) no-repeat left center;	
}

#lastfmLink {
	background: transparent url(/img/lastfm_32.png) no-repeat left center;	
}

#linkedinLink {
	background: transparent url(/img/linkedin_32.png) no-repeat left center;	
}

#githubLink {
	background: transparent url(/img/github_32.png) no-repeat left center;	
}