<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Tommy Hinman</title>
	<!--TODO: Header Stuff -->

	<!-- TODO: Javascript Stuff -->
	<link type="text/css" rel="stylesheet" href="/css/main.css" />
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic' rel='stylesheet' type='text/css'>
	<script>
		
	</script>

</head>

<body>

	<div class="main">
		
		<div id="floater"></div>
		<div id="centered">

			<div id="namebox">
				<span class="nameBox">Tommy Hinman</span><span class="jobTitleBox">Software Engineer</span>
			</div>

			

			<div id="linkbox">
				<ul id="linklist">
					<li><a id="resumeLink" href="resume">resume</a></li>
					<li><a id="emailLink" href="mailto:tommyhinman@gmail.com">contact</a></li>

					<li><a id="linkedinLink" href="http://www.linkedin.com/pub/thomas-hinman/32/a6b/772">linkedin</a></li>
					<li><a id="lastfmLink" href="http://www.last.fm/user/smnighthawk">last.fm</a></li>
					<li><a id="facebookLink" href="https://www.facebook.com/Tommyhinman">facebook</a></li>

				</ul>
			</div>
		</div>
		
	</div>

</body>
</html>